.nav__upper{
margin-bottom:10px;
}

.upper__left{
height:25px;
width:25px;

}

.upper__right{
display:inline;

}

.sign-in{
color:green;
margin-left:88%;
text-decoration:none;
}

.get-started{
margin-left:10px;
border-color:green;
padding:6px;
border-style:solid;
text-decoration:none;
border-radius:10%;
}

.nav__lower{
margin-left:80px;
margin-bottom:80px;
position:sticky;
}
#lower{
margin-left:160px;
text-decoration:none;
color:black;

}
h1{
margin:0 auto;
width:500px;
}
.main__img{
display:block;
margin:auto;
width:500px;
}

#line-1{
width:500px;
margin:auto;
}

#line-break{

margin-bottom:90px;
border-top-color:black;
border-top-style:solid;
border-top-width:2px;
}
.head-boys{
margin-left:450px;


}

#stuff{
width:600px;
margin:auto;


}

.external_links{
display:inline-block;
margin-left:440px ;

}

.sect-1{

  top: 10px;
    display:block;
            margin-left: 500px;
      }

.sect-2{

  top: 10px;
    display:block;
      
      margin-left:500px;
      }

.footer{
margin-top:10px;
}

.footer__left{
height:25px;
width:25px;

}

.footer__right{
display:inline;

}

.about{
color:black;
margin-left:88%;
text-decoration:none;
}

.help{
margin-left:10px;
text-decoration:none;
color:black;
}


